.navigator img
      {    
        width: 95px;
        cursor: pointer;
      }
    .navigator
     {  
       display: flex;
       justify-content: space-between;
       background-color: black;
       align-items: center;
       padding: 0 1rem;

     }



@media screen and (min-width: 768px) {
     
    .Rules, .About, .App
    {
      font-size: 3rem;
      color:red;
      
    }  
}