.question {
  text-align: center;
  font-size: 1.8em;
  margin: 0 16px 1.4em 16px;
  line-height: 1.4em;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.singleAnswer {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.4em;
  font-family: poppins, sans-serif;
  padding: 16px 32px;
  margin: 0 24px;
  white-space: pre-wrap;
  cursor: pointer;
}

.singleAnswer:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.singleAnswer:focus,
.singleAnswer:active {
  outline: none;
}
.correct {
  border: 2px solid yellowgreen;
  color: yellowgreen;
}

.incorrect {
  border: 2px solid orangered;
  color: orangered;
}
