.question {
  text-align: center;
  font-size: 1.8em;
  margin: 0 16px 1.4em 16px;
  line-height: 1.4em;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 90%;
  margin: 0 auto;
}

.singleAnswer {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.4em;
  font-family: poppins, sans-serif;
  font-weight: 400;
  padding: 16px 32px;
  margin: 0 24px;
  white-space: pre-wrap;
  cursor: pointer;
}

.singleAnswer:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.singleAnswer:focus,
.singleAnswer:active {
  outline: none;
}
.correct {
  border: 2px solid yellowgreen;
  color: yellowgreen;
}

.incorrect {
  border: 2px solid orangered;
  color: orangered;
}

@media screen and (min-width: 768px) {
  .questionContent {
    display: flex;
    flex-direction: column;
    gap: 4.8em;
  }

  .question {
    text-align: center;
    font-size: 2.8em;
    margin: 0 200px;
    line-height: 1.4em;
  }

  .answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: 70%;
    margin: 0 auto;
  }
  .singleAnswer {
    border-radius: 10px;
    font-size: 2rem;
    padding: 24px 32px;
    margin: 0;
    width: 40%;
    white-space: pre-wrap;
    cursor: pointer;
  }
}
