.labelTotalScoreLife {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 102px;
  gap: 26px;
}
.labelTotalScore {
  display: flex;
  align-items: center;
  width: auto;
  height: 63px;
  padding: 7px 32px;
  gap: 16px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
.labelLife {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background-image: url("/assets/LifeBoard.svg");
  background-repeat: no-repeat;
  background-position: center;
}
