.appHeader {
  font-size: 1.5rem;
  align-items: center;
  padding-top: 20%;
  left: 120px;
  color: blue;
  width: 75%;
  margin-left: 50px;
}

.homeBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcomeText {
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.welcomeMessage {
  font-size: 6rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.welcomeComment {
  font-size: 3rem;
  line-height: 4rem;
}
.welcomeChoice {
  font-size: 2rem;
  padding-top: auto;
  padding-bottom: 1rem;
}
.buttons {
  width: 60vw;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 720px) {
  .buttons {
    height: 20vh;
    flex-direction: column;
  }
  .welcomeMessage {
    font-size: 2rem;
  }
  .welcomeComment {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }
  .welcomeChoice {
    font-size: 1.25rem;
  }
}
